@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900|Poppins:100,100i,200i,300,400,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900|Poppins:100,100i,200i,300,400,500,500i,600,600i,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  
}

html {
  scroll-behavior: smooth;
}


.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  color: #1F1F1F;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


/* Style for the sticky header */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Change this to your desired background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
  z-index: 1000; /* Ensure it's above other elements */
}

h3 {
  font-size: 24px;
}

.mb-65 {
  margin-bottom: 67px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #FFF5F5;
}

.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}


.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #020c26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.851;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #1F1F1F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.boxed-btn {
  background: #fff;
  color: #000;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #000;
  letter-spacing: 3px;
  text-align: center;
  color: #000 !important;
  text-transform: uppercase;
}

.boxed-btn:hover {
  background: #000;
  color: #fff !important;
  border: 1px solid #000;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 220px;
}

.boxed-btn2 {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 17px 50px 16px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  text-transform: capitalize;
  color: #fff;
}

.boxed-btn2:hover {
  background: #fff;
}

.boxed-btn2:focus {
  outline: none;
}

.boxed_btn3 {
  background: #A70000;
  padding: 9px 26px;
  margin-bottom: 0;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
}

.boxed_btn3:hover {
  background: #FAF0F0;
  color: #A70000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .boxed_btn3 {
    padding: 9px 16px;
  }
}

.boxed-btn4 {
  background: transparent;
  color: #F2C64D;
  display: inline-block;
  padding: 15px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border: 1px solid #F2C64D;
  text-align: center;
  text-transform: capitalize;
}

.boxed-btn4:hover {
  background: #F2C64D;
  color: #fff !important;
  border: 1px solid transparent;
}

.boxed-btn4:focus {
  outline: none;
}

.boxed-btn4.large-width {
  width: 220px;
}

.boxed-btn5 {
  background: #F2C64D;
  color: #fff;
  display: inline-block;
  padding: 15px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border: 1px solid #F2C64D;
  text-align: center;
  text-transform: capitalize;
}

.boxed-btn5:hover {
  background: #fff;
  color: #F2C64D !important;
  border: 1px solid #F2C64D;
}

.boxed-btn5:focus {
  outline: none;
}

.boxed-btn5.large-width {
  width: 220px;
}

.section_title h3 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  color: #1F1F1F;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section_title h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 767px) {
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section_title h3 br {
    display: none;
  }
}

.section_title p {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .section_title p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .section_title p br {
    display: none;
  }
}

.mb-95 {
  margin-bottom: 95px;
}

@media (max-width: 767px) {
  .mb-95 {
    margin-bottom: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .mb-80 {
    margin-bottom: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0px;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #F2C64D;
}

.slicknav_menu .slicknav_nav a.active {
  color: #F2C64D;
}

@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -32px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 12px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -32px;
}

.slicknav_icon-bar {
  background: #fff !important;
}

.header-area {
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 999;
  background: #000;
}

.header-area .main-header-area {
  padding: 0 50px;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 130px!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 130px!important;
  }
}

.header-area .main-header-area .main-menu {
  text-align: center;
  margin-left: 130px;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 38px 23px 38px 23px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 38px 18px 38px 18px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a.active {
  color: #F2C64D;
}

.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #F2C64D;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 9;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #F2C64D;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #000;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .main-menu ul li a {
  padding: 35px 18px 35px 18px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

.header-area .social_media_links {
  text-align: right;
}

.header-area .social_media_links ul li {
  display: inline-block;
}

.header-area .social_media_links ul li a {
  background: #171717;
  color: #8B8B8B;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 0 3px;
  font-size: 17px;
}

.header-area .social_media_links ul li a:hover {
  color: #F2C64D;
}

.slider_bg_1 {
  background-image: url(../img/banner/banner3.webp);
}

@media (max-width: 767px) {
  .slider_bg_1 {
    max-width: 95%;
  }
}

.slider_bg_2 {
  background-image: url(../img/banner/banner2.png);
}

.slider_area {
  padding: 0 50px;
  background: #000;
}

@media (max-width: 767px) {
  .slider_area {
    padding: 0 20px;
  }
}

.slider_area_inner {
  height: 800px;
  position: relative;
  z-index: 8;
  position: relative;
  z-index: 8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area_inner {
    height: 420px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner {
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner {
    height: 500px;
    background-position: right;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider_area_inner {
    height: 600px;
    background-position: right;
  }
}

.slider_area_inner .single_slider {
  position: relative;
  z-index: 8;
}

.slider_area_inner .single_slider .slider_text h3 {
  color: #ffffff;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 56px;
  line-height: 68px;
  position: relative;
  z-index: 8;
  text-transform: capitalize;

}

@media (max-width: 767px) {
  .slider_area_inner .single_slider .slider_text h3 {
    font-size: 25px;
    line-height: 35px;
  }
}



@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 46px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .single_slider .slider_text h3 {
    font-size: 35px;
    line-height: 56px;
  }
}

@media (max-width: 767px) {
  .slider_area_inner .single_slider .slider_text h3 br {
    display: none;
  }
}

.slider_area_inner .single_slider .slider_text p {
  font-size: 26px;
  font-weight: 400;
  color: #C7C7C7;
  margin-bottom: 50px;
  margin-top: 16px;
  line-height: 32px;
  font-style: italic;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .slider_area_inner .single_slider .slider_text p {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .slider_area_inner .single_slider .slider_text p br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .single_slider .slider_text p br {
    display: none;
  }
}

.slider_area_inner .single_slider .slider_text p.name {
  font-size: 16px;
  margin-top: 20px;
}

.slider_area_inner.slider_area_inner2 {
  height: 550px;
}

.practice_area {
  background: #FFFDF8;
  padding-top: 90px;
  padding-bottom: 120px;
  padding-right: 40.5px;
  padding-left: 45.5px;
}

@media (max-width: 767px) {
  .practice_area {
    padding-top: 0px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.practice_area.practice_area2 {
  padding-top: 15px;
  padding-bottom: 0;
}

.practice_area .single_practice {
  margin: 0 4.5px 30px 4.5px;
  position: relative;
}

.practice_area .single_practice .practice_image img {
  width: 100%;
}

.practice_area .single_practice .practice_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.9);
}

.practice_area .single_practice .practice_hover i {
  font-size: 85px;
  color: #CEA159;
}

@media (max-width: 767px) {
  .practice_area .single_practice .practice_hover i {
    font-size: 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .practice_area .single_practice .practice_hover i {
    font-size: 30px;
  }
}

.practice_area .single_practice .practice_hover h3 {
  font-size: 24px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .practice_area .single_practice .practice_hover h3 {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .practice_area .single_practice .practice_hover h3 {
    font-size: 18px;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 10px;
  }
}

.practice_area .single_practice .practice_hover p {
  font-size: 16px;
  color: #C7C7C7;
  margin-bottom: 21px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .practice_area .single_practice .practice_hover p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .practice_area .single_practice .practice_hover p br {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .practice_area .single_practice .practice_hover p br {
    display: none;
  }
}

.practice_area .single_practice .practice_hover .hover_inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateY(0px);
  -moz-transform: translateY(-50%) translateY(0px);
  -ms-transform: translateY(-50%) translateY(0px);
  transform: translateY(-50%) translateY(0px);
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 991px) {
  .practice_area .single_practice .practice_hover .hover_inner {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .practice_area .single_practice .practice_hover .hover_inner {
    padding: 20px;
  }
}

.practice_area .single_practice .practice_hover .hover_inner .lern_more {
  color: #F2C64D;
  font-size: 10px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
}

.practice_area .single_practice .practice_hover .hover_inner .lern_more:hover {
  text-decoration: underline;
}

.practice_area .single_practice:hover .practice_hover .hover_inner .lern_more {
  opacity: 1;
  visibility: visible;
}

.practice_area .single_practice:hover .practice_hover .hover_inner {
  -webkit-transform: translateY(-50%) translateY(-25px);
  -moz-transform: translateY(-50%) translateY(-25px);
  -ms-transform: translateY(-50%) translateY(-25px);
  transform: translateY(-50%) translateY(-25px);
}

.our_loyers {
  padding-top: 20px;
  padding-bottom: 90px;
  margin-right: 50px;
  margin-left: 50px;
  background: #FFFDF8;
}



@media (max-width: 767px) {
  .our_loyers {
    margin-left: 0;
    margin-right: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.our_loyers .single_loyers {
  padding-bottom: 30px;
  margin: 15px;
}

.our_loyers .single_loyers .thumb {
  width: 280px;
  height: 200px;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.our_loyers .single_loyers .thumb img {
  max-width: 160px; 
  max-height: 160px;
  border-radius: 50%;
}

.our_loyers .single_loyers h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1F1F1F;
  margin-top: 2px;
  margin-bottom: 54px;
  margin-left: 105px;
}

@media (max-width: 767px) {
  .our_loyers .single_loyers h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1F1F1F;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
}



.our_loyers .single_loyers span {
  font-size: 16px;
  color: #727272;
  display: block;
  margin-bottom: 18px;
}

.our_loyers .single_loyers .social_links ul li {
  display: inline-block;
}

.our_loyers .single_loyers .social_links ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #F2C64D;
  background: #FEF7E7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 5.5px;
  text-align: center;
  line-height: 35px;
}

.our_loyers .single_loyers .social_links ul li a:hover {
  background: #F2C64D;
  color: #fff;
}

.about_area {
  background: #FFFDF8;
  padding-top: 150px;
  padding-bottom: 120px;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
}

@media (max-width: 767px) {
  .about_area {
    margin-left: 0;
    margin-right: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.about_area .opacity_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about_area .opacity_icon i {
  font-size: 500px;
  color: #FEFAEF;
}

.about_area .single_about_info .about_thumb {
  overflow: hidden;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

@media (max-width: 767px) {
  .about_area .single_about_info .about_thumb {
    margin-top: 30px;
    
  }
}

.about_area .single_about_info .about_thumb .image_hover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #F2C64D;
}

.about_area .single_about_info .about_thumb .image_hover .hover_inner {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about_area .single_about_info .about_thumb .image_hover .hover_inner h2 {
  font-size: 70px;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .about_area .single_about_info .about_thumb .image_hover .hover_inner h2 {
    font-size: 40px;
    line-height: 40px;
  }
}

.about_area .single_about_info .about_thumb .image_hover .hover_inner span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.about_area .single_about_info h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 27px;
  margin-bottom: 13px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .about_area .single_about_info h3 {
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_area .single_about_info h3 {
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}

.about_area .single_about_info p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_area .single_about_info p {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .about_area .single_about_info p br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_area .single_about_info p br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_area .single_about_info p br {
    display: none;
  }
}

.about_area .single_about_info .total_cases .single_cases {
  display: inline-block;
  margin: 0 25px;
}

.about_area .single_about_info .total_cases .single_cases h4 {
  font-size: 36px;
  font-weight: 500;
  color: #CEA159;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}

.about_area .single_about_info .total_cases .single_cases p {
  font-size: 14px;
  color: #919191;
  font-weight: 400;
  margin-bottom: 0;
}

.about_area .single_about_info:hover .image_hover {
  opacity: 1;
  visibility: visible;
}



@media (max-width: 767px) {
  .appointment_area {
    padding-top: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .appointment_area {
    padding-bottom: 100px;
  }
}

.appointment_area .opacity_icon {
  position: absolute;
  bottom: -126px;
  z-index: -1;
}

.appointment_area .opacity_icon i {
  font-size: 478px;
  color: #FEFCF6;
}

@media (max-width: 767px) {
  .appointment_area .appiontment_thumb img {
    width: 100%;
  }
}

.appointment_area .appointment_info {
  position: relative;
  z-index: 0;
}

@media (max-width: 767px) {
  .appointment_area .appointment_info {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.appointment_area .appointment_info h3 {
  font-size: 42px;
  font-weight: 700;
  color: #1F1F1F;
}

.appointment_area .appointment_info p {
  font-size: 16px;
  color: #727272;
  margin-top: 13px;
  margin-bottom: 56px;
}

.appointment_area form input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #C7C7C7;
  margin-bottom: 26px;
  padding-bottom: 7px;
}

.appointment_area form input::placeholder {
  font-size: 16px;
  color: #919191;
  font-weight: 400;
}

.appointment_area form textarea {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #C7C7C7;
  margin-bottom: 26px;
  padding-bottom: 7px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.appointment_area form textarea::placeholder {
  font-size: 16px;
  color: #919191;
  font-weight: 400;
}

.appointment_area form .appoinment_button button {
  width: 100%;
  text-align: center;
}


.contact-info {
  margin-bottom: 25px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}

.contact-info .media-body p {
  color: #8a8a8a;
}

.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-contact label {
  font-size: 14px;
}

.form-contact .form-group {
  margin-bottom: 30px;
}

.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

.contact-section {
  padding: 130px 0 100px;
}

@media (max-width: 991px) {
  .contact-section {
    padding: 70px 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact-section {
    padding: 80px 0 50px;
  }
}

.contact-section .btn_2 {
  background-color: #191d34;
  padding: 18px 60px;
  border-radius: 50px;
  margin-top: 0;
}

.contact-section .btn_2:hover {
  background-color: #ff5e13;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

/* Certificates CSS Starts here */
#certificates {
  background-color: rgb(0, 0, 0);
  padding: 40px 0;
  text-align: center;
}

.project-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
}

.certificate {
  display: flex;
  justify-content: center;
}

.certificate-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.certificate-box {
  width: 400px;
  height: 250px;
  margin: 25px;
  background-color: #333333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  
}

.certificate-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .certificate-box {
    width: 300px;;
    height: 200px;
  }
}

/* Certificates CSS Ends here */

/* Projects CSS Starts here */
.project-heading {
  text-align: center;
}

.project-heading-2 {
  text-align: center;
}

.project-heading-2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 767px) {
  .project-heading-2 {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
  }
}


.project {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 30px;
}

.screenshots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.screenshots-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.screenshots img {
  flex: 0 0 33.33%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 0 5px;
  border-radius: 5px;
  pointer-events: none;
}

/* Projects CSS Ends here */

/* Experience css */
.project-heading-3{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
}
/* Style the list items with a dot icon */
.bullet-list {
  list-style: none;
}

.bullet-list li::before {
  content: "\2022"; /* Unicode character for a bullet (•) */
  font-size: 14px; /* Adjust the font size as needed */
  margin-right: 8px; /* Adjust the spacing between the bullet and text */
  vertical-align: middle; /* Align the bullet vertically with the text */
}

/* Style the footer */
.portfolio-footer {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.portfolio-footer .left img {
  width: 60px; /* Adjust the logo size as needed */
  margin-left: 46px;
}

.portfolio-footer .middle ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.portfolio-footer .middle li {
  margin-right: 20px;
}

.portfolio-footer .middle a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.portfolio-footer .middle a:hover {
  border-bottom: 2px solid #fff;
}

.portfolio-footer .right a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

/* Style Font Awesome icons */
.portfolio-footer .right i {
  background: #171717;
  color: #8B8B8B;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 0 3px;
  font-size: 20px; /* Adjust the icon size as needed */
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 767px) {
  .portfolio-footer {
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center-align all content */
  }

  .portfolio-footer .left {
    order: 1; /* Display the icon at the top */
  }

  .portfolio-footer .middle {
    order: 2; 
    /* text-align: center;
    margin-top: 20px;  */
  }

  .portfolio-footer .right {
    order: 3; /* Display the social icons at the bottom */
    margin-top: 20px; /* Add spacing between sections */
    display: flex; /* Display the social icons in a row */
    justify-content: center; /* Center-align the icons horizontally */
  }

  .portfolio-footer .right a {
    margin: 0 10px; /* Add spacing between social icons */
  }

  .portfolio-footer .left img {
    width: 60px; /* Adjust the logo size as needed */
    margin-left: 0px;
  }
}

.copyright-text {
  font-size: 15px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-left: 145px;
}

@media (max-width: 767px) {
  .copyright-text {
    font-size: 15px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
  }
}
