html {
  scroll-behavior: smooth !important;
  background-color: black;
}

*{
  font-family: 'Poppins', sans-serif;
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
width: 7px;
}

::-webkit-scrollbar-track {
background: #000;
}

::-webkit-scrollbar-thumb {
background: #ff004f;
}

::-webkit-scrollbar-thumb:hover {
background: #ff004f;
}


/* Header CSS */
header {  
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
position: relative;
z-index: 9;
transition: all 0.7s;
}


.logo img {
height: auto;
padding-left: 45px;
order: 1;
height: auto;
max-width: 250px;
display: block;
}

nav {
position: relative;
}

.menu {
display: flex;
list-style: none;
padding: 40px;
}

.menu li {
margin-right: 30px;

}

nav .menu li a {
color: white;
text-decoration: none;
font-family: fantasy;
position: relative;
padding-left: 20px;

}

/* Hamburger Menu  */
.sidemenu-toggler {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 30px;
height: 20px;
cursor: pointer;
}

.sidemenu-toggler span {
display: block;
/* width: 100%;
height: 2px; */
background-color: white;
margin-bottom: 4px;
}

.sidemenu-toggler {
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
position: fixed;
top: 20px;
right: 20px;
width: 40px;
height: 40px;
z-index: 10;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}

.sidemenu-toggler span {
display: block;
width: 25px;
height: 3px;
background-color: #ffffff;
margin-bottom: 5px;
transition: background-color 0.3s ease-in-out;
}

.sidemenu.open {
transform: translateX(0);  /* Move the menu to the visible position */
max-width: 400px;
}

.sidemenu {
position: fixed;
top: 0;
right: 0;
width: 80%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
transform: translateX(100%);
transition: transform 0.3s ease-in-out;
z-index: 9;
backdrop-filter: blur(5px);
transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
transform: translateX(100%); /* Start with the menu off-screen */
}

.sidemenu nav ul {
list-style: none;
padding: 0;
margin-top: 50px;
}

.sidemenu nav ul li {
text-align: center;
margin-bottom: 20px;
}

.sidemenu nav ul li a {
color: #ffffff;
font-size: 20px;
text-decoration: none;
}

.sidemenu .close {
position: absolute;
top: 0px;
right: 20px;
width: 40px;
height: 40px;
/* background-image: url(images/hamburegrmenuclose.png); */
background-size: cover;
background-position: center;
cursor: pointer;
}

/* Mobile View header */
@media (max-width: 767px) {
  .logo img {
    width: 250px;
    padding-left: 1px;
  }

  .sidemenu-toggler {
    display: block;
    width: 40px;
    height: 40px;
    background-color: black;
    position: sticky;
    top: 55px;
    right: 20px;
    cursor: pointer;
  }

  .sidemenu-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff; /* Set the color of the lines */
    margin: 5px auto; /* Adjust the spacing between the lines */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  .menu {
    display: none;
  }

  .sidemenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Add a transparent background color */
    backdrop-filter: blur(10px); /* Add the blur effect */
    z-index: 9999;
    width: 200px;
    padding: 25px;
    text-align: right;
    left: -200px;
    transition: left 0.3s ease;
  }

  .sidemenu.open {
    display: block;
    max-width: 150px;
    left: 0;
  }

  .sidemenu .close {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #000000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out; 
  }

  /* Hide the sticky header when scrolling down */
  header.sticky {
    top: -100px; /* Adjust this value as needed to hide the header completely */
  }
}

/* Desktop View header */
@media (min-width: 768px) {
  header {
    position: relative; 
    top: 0; 
    box-shadow: none; 
  }
}

.sidemenu nav ul {
  list-style: none;
  padding: 0;
  margin: 90px 0; /* Add margin here to create space above the menu items */
}

.sidemenu nav ul li {
  margin-bottom: 10px;
}

.sidemenu nav ul li a {
  color: white;
  text-decoration: none;
  font-family: fantasy;
}

.sidemenu nav ul li a:hover {
  text-decoration: underline;
}

/* .social-icons {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
} */

.social-icons li {
  margin-right: 10px;
}

.social-icons li i {
  color: white;
  font-size: 20px;
}

.sidemenu .social-icons {
  margin-top: -30px;
  margin-right: 0; /* Add negative margin to create space between social icons */
  display: flex;
  align-items: center;
}

.sidemenu .social-icons li {
  margin: 0 5px; /* Adjust the margin as per your preference */
}

.sidemenu .social-icons li i {
  color: white;
  font-size: 20px;
}

.sidemenu .call-me-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff; /* White background */
  color: #000;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
/* Add styles for the X icon when the menu is open */
.sidemenu-toggler.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.sidemenu-toggler.open span:nth-child(2) {
  opacity: 0;
}

.sidemenu-toggler.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Header CSS Ends Here */
/* Main Body */

/*  <section id="welcome"> */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: #fff;
    position: relative;
}

#welcome {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}

#welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#welcome .text {
  flex: 1;
  text-align: left;
  font-family: fantasy;
  color: white;
}

#welcome .image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-text {
    font-size: 18px;
    cursor: default;
}

.title {
    background-color: #201f1f;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 20px;
}

.name {
    font-size: 80px;
    letter-spacing: -1px;
}

.designation {
    font-size: 30px;

}
.name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.designation::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(images/designationicon.png);
    background-size: cover;
    margin-right: 14px;
    
}

.email a,
.phone a {
  color: white;
  text-decoration: none;
  font-family: 'poppins',sans-serif;
}

.social-icons.d-flex {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .social-icons.d-flex li {
    margin-right: 30px;
    margin-top: 40px;
    

  }
  
  .social-icons.d-flex li:last-child {
    margin-right: 0;
    
  }
  
  .social-icons.d-flex li i {
    color: white;
    font-size: 25px;
    cursor: pointer;
    
  }
  
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.QAimage img {
  /* box-shadow: 0px 0px 30px; */
  border-radius: 20%;
  max-width: 100%;
  height: auto;
  padding-left: 130px;
  
}

.logo {
    font-size: 24px;
    font-weight: bold;
    
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.hero {
    padding: 100px 0;
    text-align: center;
}

.hero-text {
    font-size: 36px;
    margin-bottom: 30px;
    color: #fff;
}

.hero-subtext {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ccc;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .QAimage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
    padding-top: 30px;
  }
  
  .QAimage img {
    max-width: 100%;
    height: auto;
    padding-left: 5px;
    padding-top: 50px;
    border-radius: 20px; /* Add border radius */
    box-shadow: 0px 0px 20px; /* Set the box shadow */
  }
  
  .menu {
    display: none;
  }
  .title {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 15px;
  }

  .name {
    font-size: 45px;
  }

  .designation{
    font-size: 18px;
  }
  .designation::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(images/designationicon.png);
    background-size: cover;
    margin-right: 14px;
  }

  .social-icons.d-flex li {
    margin-top: 15px;
  }

  .social-icons.d-flex li i {
    font-size: 20px;
  }
}





/* About Me CSS STARTS HERE */
#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-right: 40px;
}

.about-content .image {
  flex: 1;
  margin-left: 90px;
  
}
.about-content .image img {
  border-radius: 20%;
  box-shadow: 0px 0px 20px;
}
.about-content .text {
  flex: 1;
}

.about-Education {
  display: flex;
  justify-content: space-between;
}

.about-Education {
  display: flex;
}

/* Left Side (Education) */
.left-side {
  flex: 1;
}

.left-side h3 {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  margin-right: 150px;
}

.left-side h3 i {
  margin-right: 10px;
}

.left-side ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

/* Right Side (Interests) */
.right-side {
  flex: 1;
}

.right-side h3 {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  margin-left: 15px;
}

.right-side h3 i {
  margin-right: 10px;
}

.right-side ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 0;
}

.about-container {
  overflow-x: hidden;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  #about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }

  .about-content .image {
    margin-bottom: 20px;
    /* position: relative; */
    overflow: visible;
    margin: 0 auto; /* Align the image in the center */
  }

  .about-content .image img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px; /* Add border radius */
    box-shadow: 0px 0px 20px; /* Set the box shadow */
    margin-top: 50px; /* Add a negative margin to lift the image up and show the full box shadow */
  }

  .about-content .about-text {
    margin: 0 auto;
    max-width: 450px;
    text-align: left;
  }

  .about-Education,
  .about-Education .left-side,
  .about-Education .right-side {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .about-Education .left-side h3,
  .about-Education .right-side h3 {
    margin: 0;
    margin-bottom: 40px; /* Adjust spacing between pointer dot and text */
  }

  .about-Education .left-side ul,
  .about-Education .right-side ul {
    padding-left: 20px;
    margin: 0;
    text-align: left;
  }
}

/* About US CSS ENDS HERE */


/* SKILLS CSS STARTS HERE */
.skills {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills h2 {
  margin-bottom: 20px;
}

.skills ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.skills li {
  margin: 0 10px;
  margin-bottom: 30px;
}

.skills li span {
  border: 1px solid #0bceaf;
  padding: 7px 40px;
  border-radius: 66px;
  display: inline-block;
  margin-bottom: 4px;
  white-space: normal;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  text-align: center;
  max-width: 180px;
  line-height: 1.2;
}

.skills li {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: black;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills li img {
  margin-bottom: 20px;
}

.skills li span {
  max-width: 105px;
  text-align: center; /* Center align the text */
  max-height: 100% !important;
}

/* SKILLS CSS ENDS HERE */

/* Projects CSS Starts here */
.project-heading {
  text-align: center;
}

.project {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 30px;
}

.screenshots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.screenshots-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.screenshots img {
  flex: 0 0 33.33%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 0 5px;
  border-radius: 5px;
  pointer-events: none;
}

/* Projects CSS Ends here */

/* Certificates CSS Starts here */
#certificates {
  background-color: black;
  padding: 40px 0;
  text-align: center;
}

.project-heading {
  color: white;
  margin-bottom: 45px;
}

.certificate {
  display: flex;
  justify-content: center;
}

.certificate-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.certificate-box {
  width: 400px;
  height: 250px;
  margin: 25px;
  background-color: #333333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  
}

.certificate-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .certificate-box {
    width: 300px;;
    height: 200px;
  }
}

/* Certificates CSS Ends here */
/* Work Experience CSS Starts Here */

#clients {
  background-color: black;
  padding: 40px 0;
  text-align: center;
}

#clients h2 {
  color: white;
  margin-bottom: 20px;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  width: 400px;
  margin: 25px;
}

.company-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.company-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.company-info {
  padding: 4px;
  color: white;
  text-align: center;
}

.company-info h3 {
  margin-bottom: 5px;
}

.company-info p {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .company {
    width: 100%;
    max-width: 400px;
  }
}
/* Work Experience CSS Ends Here */
/* Footer */
 .container {
  padding: 10px 10%;
}
 .sub-title {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

 .contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 500px;
  padding-top: 45px;
}

.contact-left p {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.contact-left p i {
  color: #ffffff;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ffffff;
  /* display: inline-block; */
  justify-content:flex-start;
  transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ffffff;
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: background 0.75s;
}

.btn:hover {
  background: #ff004f;
  border: none;
}


.btn.btn3 {
  background: transparent;
  margin-top: 30px;
  transition: background 0.5;

}

.btn.btn3:hover {
  background: #ff004f;
}

.contact-right form {
  width: 100%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-right form{
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

@media (max-width: 600px) {
  .contact-left,
  .contact-right {
      width: 100%;
  }
}

@media (max-width: 400px) {

  .sub-title{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
  }

  .contact-left p i{
    font-size: 22px;
  }

  .contact-left p{
    font-size: 18px;
  }

  .social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .social-icons a {
      margin-right: 5px;
  }

  .btn {
      padding: 8px 15px;
  }

  .btn.btn2{
    display: block;
  }

  form input, form textarea{
    width: 270px;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }

  .btn.btn3{
    display: block;
    padding: 20px 75px
  }

}

/* Footer */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20px;
}

nav .fas {
  display: none;
}

/*  Scroll To Top Button Starts Here  */
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ff004f;
  border-radius: 50%;
  opacity: 0.5;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 50px;
  z-index: 9999;
  background-image: url("images/chevron-up-solid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  scroll-behavior: smooth;
}
#scrollToTopButton:hover {
  opacity: 1;
}
#scrollToTopButton:before {
  content: "\f062"; /* Font Awesome arrow-up icon code */
  font-family: "Font Awesome"; /* Replace with the font-family of your icon font */
  font-weight: bold;
}
/*  Scroll To Top Button Ends Here  */

/* Form Sweat alerts pop-up CSS Starts Here */

.custom-popup-class {
  background-color: black;
  color: #ff004f;
}

.custom-title-class {
  color: #ff004f;
}

.custom-content-class {
  color: #ff004f;
}


/* Form Sweat alerts pop-up CSS Ends Here */
